body{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
}

.main{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-body{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
    flex-shrink: 0;
    box-sizing: border-box;
}

.nav-container{
    display: flex;
    align-items: center;
    padding: 6px;
    height: 60px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.nav-bar{
    display: inline-block;
    flex-grow: 1;
}

.nav-item{
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    flex: 0 0 auto;
    justify-content: flex-end;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.logo-display{
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: auto;
    display: block;
}

.logo-item{
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    position: absolute;
    left: 215px;
    bottom: 0;
    white-space: nowrap;
}

.logo{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    height: 92px;
    aspect-ratio: auto 272 / 92;
}

.search-container{
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
    display: block;
}

.search-outline{
    margin: 0 auto;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
    position: relative;
    display: block;
}

.search{
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
}

.search:focus-within{
    border: 3px solid #dfe1e5;
}

.search-bar{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -35px;
    height: 34px;
    font-size: 16px;
}

.sb-1{
    margin-top: 6%;
    margin-left: 26.5%;
}

#A1{
    margin-left: 3%;
}

.sb-2{
    margin-left: 2%;
    margin-right: 2%;
}

.A1{
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
}

.input-control{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.btn{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    appearance: auto;
    white-space: pre;
    align-items: flex-start;
    box-sizing: border-box;
}

#ico{
    height: 16px;
    width: auto;
}